<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Tracker | Home</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/img/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu:400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <!-- jinja -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/united.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_log.css') }}" />
</head>

<body>
    <div class="container-fluid" id="wrapper">
        <div class="row" id="homeJumbo">
            <div class="overlay"></div>
            <div class="col-lg-12">
                <h1>Welcome to
                    <a href="{{ url_for('main.index') }}">CALORIE TRACKER</a>, {{ user_details.name }}!
                </h1>

                <div class="row t20">
                    <div class="col-lg-4 col-lg-offset-4">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation" class="active">
                                <a href="{{ url_for('main.index') }}" title="Home">Home🏠</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ url_for('main.add') }}" title="Add Food Item">Add Food Item➕</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ url_for('main.dashboard') }}" title="Profile">Dashboard📰</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ url_for('main.user_profile') }}" title="Profile">Profile🤾‍♂️</a>
                            </li>
                            <li role="login">
                                <a href="/logout" title="logout">Logout➡️</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prog_container">
    <form id="create_fields" name="create_fields" method="post" action="/create_log">
        <div class="prog_container">
            <div class="log_form">
                <label for="Date">
                    <h4>Date</h4>
                </label><br>
                <input class="form__input_crt" type="date" name="date" id="" required><br><br>
                <label for="food_list">
                    <h4>Choose what you had today</h4>
                </label><br>
                <select id="food_dropdown" onchange="add_field(this)">
                    <option value="false">Select Item...</option>
                    {% for food in food_data %}
                    <option value="{{food.fid+'_'+food.name}}">{{ food.name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <span id="warning"></span>
            </div>
            <div class="checkout">
                <h4>Checkout</h4>
                <div id="insert_fields"></div>
                <button class="button_pro" type="submit" form="create_fields">Submit</button>
            </div>
    </form>
</div>


    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/create.js') }}"></script>
</body>

</html>