<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Tracker | Home</title>

    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu:400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <!-- jinja -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/united.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
</head>

<body>
    <div class="container-fluid" id="wrapper">
        <div class="row" id="homeJumbo">
            <div class="overlay"></div>
            <div class="col-lg-12">
                <h1>
                    <a href="{{ url_for('main.index') }}">FOOD TRACKER</a>
                </h1>

                <div class="row t20">
                    <div class="col-lg-4 col-lg-offset-4">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation" class="active">
                                <a href="{{ url_for('main.index') }}" title="Home">Home</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ url_for('main.add') }}" title="Add Food Item">Add Food Item</a>
                            </li>
                            <li role="login">
                                <a href="/login" title="login">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div class="prog_container">
            <div class="prog">
                <!-- bro, jinja need in style value (style="--value:30") -->
                <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:30">
                    <span class="nutr">Calorie</span>
                </div>
            </div>
            <div class="prog">
                <!-- bro, jinja need in style value (style="--value:50") -->
                <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:50">
                    <span class="nutr">Fats</span>
                </div>
            </div>
            <div class="prog">
                <!-- bro, jinja need in style value (style="--value:70") -->
                <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:70">
                    <span class="nutr">Protein</span>
                </div>
            </div>
            <div class="prog">
                <!-- bro, jinja need in style value (style="--value:30") -->
                <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:30">
                    <span class="nutr">Carbs</span>
                </div>
            </div>
        </div>
    </center>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>