<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Tracker | Dashboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/img/favicon.ico') }}">

    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu:400,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <!-- jinja -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/united.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js"
        integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="container-fluid" id="wrapper">
        <div class="row" id="homeJumbo">
            <div class="overlay"></div>
            <div class="col-lg-12">
                <h1>Welcome to<a href="{{ url_for('main.index') }}"> FOOD TRACKER</a>, {{ user_details.name }}!
                </h1>

                <div class="row t20">
                    <div class="col-lg-4 col-lg-offset-4">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation" class="active">
                                <a href="{{ url_for('main.index') }}" title="Home">Home🏠</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ url_for('main.add') }}" title="Add Food Item">Add Food Item➕</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ url_for('main.dashboard') }}" title="Profile">Dashboard📰</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ url_for('main.user_profile') }}" title="Profile">Profile🤾‍♂️</a>
                            </li>
                            <li role="login">
                                <a href="/logout" title="logout">Logout➡️</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div class="pos">
            <h3>Your set target<hr></h3>
            <div class="prog_container">
                
                {% if user_details['calories'] !=0 %}
                <div class="bar_pro" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                    style="--value: {{ ((current_total_progress['calories'] / user_details['calories'])*100)|int }}">
                    {% else %}
                    <div class="bar_pro" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                        style="--value:0">
                        {% endif %}
                        <span class="nutr">Calories <p>{{current_total_progress['calories']}}gms /
                                {{user_details['calories']}}gms</p></span>
                    </div>

                    {% if user_details['fats'] !=0 %}
                    <div class="bar_pro" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                        style="--value: {{ ((current_total_progress['fats'] / user_details['fats'])*100)|int }}">
                        {% else %}
                        <div class="bar_pro" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                            style="--value:0">
                            {% endif %}
                            <span class="nutr">Fats<p>{{current_total_progress['fats']}}gms /
                                    {{user_details['fats']}}gms</p></span>
                        </div>

                        {% if user_details['proteins'] !=0 %}
                        <div class="bar_pro" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                            style="--value: {{ ((current_total_progress['proteins'] / user_details['proteins'])*100)|int }}">
                            {% else %}
                            <div class="bar_pro" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                aria-valuemax="100" style="--value:0">
                                {% endif %}
                                <span class="nutr">Proteins<p>{{current_total_progress['proteins']}}gms /
                                        {{user_details['proteins']}}gms</p></span>
                            </div>

                            {% if user_details['carbs'] !=0 %}
                            <div class="bar_pro" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                aria-valuemax="100"
                                style="--value: {{ ((current_total_progress['carbs'] / user_details['carbs'])*100)|int }}">
                                {% else %}
                                <div class="bar_pro" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                    aria-valuemax="100" style="--value:0">
                                    {% endif %}
                                    <span class="nutr">Carbs<p>{{current_total_progress['carbs']}}gms /
                                            {{user_details['carbs']}}gms</p></span>
                                </div>

                                <br><br>
                            </div>
                        </div>
                        <div class="prog_container">
                            <button type="button"><a href="{{ url_for('main.create') }}">Add Logs</a></button>
                        </div>

                        <br>
                        <div class="prog_container ch_date">
                            <form action="/dashboard" method="post" name="custom_date_form" id="custom_date_form">
                                <h4>Change date to see it's data</h4>
                                <input type="date" name="custom_date" id="" required>
                                <button class="cus_date" type="submit" form="custom_date_form">Submit</button>
                            </form><br>
                            <button class="curr_date" onclick="window.location.href='/dashboard'">Current Date</button>
                        </div>
                        <h3>Food Logs</h3>
                        <table>
                            <tr>
                                <th>Food Name</th>
                                <th>Proteins</th>
                                <th>Carbohydrates</th>
                                <th>Fats</th>
                                <th>Calories</th>
                                <th>Count</th>
                            </tr>
                            {%if not food_list %}
                            <tr>
                                <td colspan="6" align="center">NIL</td>
                            </tr>
                            {% else %}
                            {% for data in food_list %}
                            <tr>
                                <td>{{ data["food_name"]}}</td>
                                <td>{{ data["proteins"]}}</td>
                                <td>{{ data["carbs"]}}</td>
                                <td>{{ data["fats"]}}</td>
                                <td>{{ data["calories"]}}</td>
                                <td>{{ data["count"]}}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                        <h3>Monthly Consumption<hr></h3>
                        <div class="prog_container">
                            
                            <div class="prog">
                                <div class="chartjs">
                                    <canvas class="chdata" id="cal"></canvas>
                                </div>
                            </div>
                            <div class="prog">
                                <div class="chartjs">
                                    <canvas class="chdata" id="fts"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="prog_container">
                            <div class="prog">
                                <div class="chartjs">
                                    <canvas class="chdata" id="prot"></canvas>
                                </div>
                            </div>
                            <div class="prog">
                                <div class="chartjs">
                                    <canvas class="chdata" id="cbhs"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="prog_container">
                            <a onclick="add_counter()">👈Prev Date</a>
                            &emsp;&emsp;&emsp;&emsp;
                            <a onclick="sub_counter()">Next Date👉</a>
                        </div>
                        <br><br><br>

    </center>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
    <!-- chartjs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js"
        integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const cal = document.getElementById('cal').getContext('2d');
        const fts = document.getElementById('fts').getContext('2d');
        const prot = document.getElementById('prot').getContext('2d');
        const cbhs = document.getElementById('cbhs').getContext('2d');
        Chart.defaults.color = "#000000";
        var slice_count = -30
        var chart_data = JSON.parse({{ date_wise_data | tojson }})
        var cal_chart = new Chart(cal, {
            type: 'line',
            data: {
                labels: chart_data["calories"]["date"].slice(slice_count,),
                datasets: [{
                    data: chart_data["calories"]["value"].slice(slice_count,),
                    label: "Calories 🍍",
                    borderColor: "#3e95cd",
                    backgroundColor: "#7bb6dd",
                    fill: false,
                }]
            },
            options: {
                tension: 0.5,
                interaction: {
                    intersect: false,
                    axis: 'x'
                },
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    x: {
                        beginAtZero: true,
                        ticks: {
                            display: false
                        },
                        grid: {
                            display: false
                        }
                    }
                }
            }
        });

        var fats_chart = new Chart(fts, {
            type: 'line',
            data: {
                labels: chart_data["fats"]["date"].slice(slice_count,),
                datasets: [{
                    data: chart_data["fats"]["value"].slice(slice_count,),
                    label: "Fats 🍟",
                    borderColor: "#3cba9f",
                    backgroundColor: "#71d1bd",
                    fill: false,
                }]
            },
            options: {
                tension: 0.5,
                interaction: {
                    intersect: false,
                    axis: 'x'
                },
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    x: {
                        beginAtZero: true,
                        ticks: {
                            display: false
                        },
                        grid: {
                            display: false
                        }
                    }
                }
            }
        });

        var proteins_chart = new Chart(prot, {
            type: 'line',
            data: {
                labels: chart_data["proteins"]["date"].slice(slice_count,),
                datasets: [{
                    data: chart_data["proteins"]["value"].slice(slice_count,),
                    label: "Proteins 🍗",
                    borderColor: "#c45850",
                    backgroundColor: "#d78f89",
                    fill: false
                }]
            },
            options: {
                tension: 0.5,
                interaction: {
                    intersect: false,
                    axis: 'x'
                },
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    x: {
                        beginAtZero: true,
                        ticks: {
                            display: false
                        },
                        grid: {
                            display: false
                        }
                    }
                }
            }
        });

        var carbs_chart = new Chart(cbhs, {
            type: 'line',
            data: {
                labels: chart_data["carbs"]["date"].slice(slice_count,),
                datasets: [{
                    data: chart_data["carbs"]["value"].slice(slice_count,),
                    label: "Carbohydrates 🥔",
                    borderColor: "#ffa500",
                    backgroundColor: "#ffc04d",
                    fill: false,
                }]
            },
            options: {
                tension: 0.5,
                interaction: {
                    intersect: false,
                    axis: 'x'
                },
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    x: {
                        beginAtZero: true,
                        ticks: {
                            display: false
                        },
                        grid: {
                            display: false
                        }
                    }
                }
            }
        });
    </script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>

</html>