/* circular progress bar starts here */
@keyframes growProgressBar {

  0%,
  33% {
    --pgPercentage: 0;
  }

  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 15rem;
  --fg: #3f83c6;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(closest-side, #387bb6 0%, transparent 0 80%, #77a5cd 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: #000000;
  /* border: 8px solid white; */
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

/* demo */
.dash {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nutr {
  font-size: 15px
}

.prog_container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* .prog {
  background-color: #304253;
  max-width: fit-content;
  height: 500px;
  padding: 5px;
  border-radius: 8px;
} */

.bar_pro {
  margin: 5px;
}

/* End circular progress bar  */
body {
  background-color: #ebe4d9
}

.chartjs {
  width: 50vh;
  margin-top: 20px;
}

.tab_data {
  padding: 10px;
  background-color: #ecf0f3;
  max-width: max-content;
  position: absolute;
  margin-left: 540px;
  margin-top: 10px;
  border-radius: 12px;
}

th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  font-size: 20px;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  /* border-top-right-radius: 10px; */
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  font-size: 20px;
}

td:first-child {
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-bottom-right-radius: 10px;
}

/* .det_tab{
  border: 1px solid black;
  border-radius: 10px;
} */