@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap');

/* circular progress bar starts here */
@keyframes growProgressBar {

  0%,
  33% {
    --pgPercentage: 0;
  }

  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 15rem;
  --fg: #3f83c6;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(closest-side, #387bb6 0%, transparent 0 95%, #77a5cd 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc(var(--size) / 5);
  color: #000000;
  z-index: 100;
}

div[role="progressbar"]:hover {
  --size: 16rem;
  --fg: #00308f;
  --bg: #def;
  --pgPercentage: var(--value);
  background:
    radial-gradient(closest-side, #387bb6 0%, transparent 0 92%, #77a5cd 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  color: crimson;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

/* demo */
.dash {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nutr {
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
}

.prog_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prog_container>button {
  max-width: max-content;
  font-size: 20px;
  margin-right: 48px;
  padding: 8px;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  border-bottom: 10px solid #77a5cd;
  border-left: none;
  color: #def;
  position: relative;
  background-color: #00308F;
}

.prog_container>button:hover {
  color: #00308F;
  background-color: #77a5cd;
  border-bottom: 10px solid #183a5d;
}

.prog {
  /* background-color: #ecf0f3; */
  max-width: fit-content;
  max-height: fit-content;
  padding: 5px;
  margin-right: 30px;
  border-radius: 8px;

  /* From https://css.glass */
  /* background: #4387bb6e;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(67, 135, 187, 1); */
}

.bar_pro {
  margin-right: 30px;
}

/* End circular progress bar  */
body {
  background-color: #ebe4d9;
}

.chartjs {
  width: 50vh;
  border: 1px solid black;
  border-radius: 5px;
}

.tab_data {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  max-width: max-content;
  position: absolute;
  margin-top: 10px;
  border-radius: 12px;
}

th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  font-size: 20px;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child  {
  border-top-right-radius: 10px;
}

.td_add, td{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  font-size: 20px;
}

.td_add:first-child, td:first-child {
  border-bottom-left-radius: 10px;
}

.td_add:last-child, td:last-child {
  border-bottom-right-radius: 10px;
}
