@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap');

/* circular progress bar starts here */
@keyframes growProgressBar {

  0%,
  33% {
    --pgPercentage: 0;
  }

  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}



div[role="progressbar"] {
  --size: 15rem;
  --fg: #3f83c6;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(closest-side, #387bb6 0%, transparent 0 95%, #77a5cd 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc(var(--size) / 5);
  color: #000000;
  transition: 500ms;
}



div[role="progressbar"]:hover {
  --size: 17rem;
  --fg: #00308f;
  --bg: #def;
  --pgPercentage: var(--value);
  background:
    radial-gradient(closest-side, #387bb6 0%, transparent 0 92%, #77a5cd 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  color: crimson;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

/* demo */
.dash {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nutr {
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
}

.nutr>p{
  font-size: 10px;
}

.prog_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prog_container>button {
  max-width: max-content;
  font-size: 20px;
  /* margin-right: 100px; */
  padding: 8px;
  border-radius: 5px;
border: none;
  color: #deffff !important;
  position: relative;
  background-color: #00308F;
}

.prog_container>button>a{
  color: #deffff !important;
}

.prog_container>button>a:hover{
  color: #00308F !important;
}

.prog_container>button:hover {
  color: #00308F;
  background-color: #77a5cd;
  border-bottom: 10px solid #183a5d;
}

.prog {
  /* background-color: #ecf0f3; */
  max-width: fit-content;
  max-height: fit-content;
  /* padding: 5px; */
  margin-right: 20px;
  /* border-radius: 8px; */

  /* From https://css.glass */
  /* background: #325067;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(67, 135, 187, 1); */
}

.bar_pro {
  margin-right: 80px;
  /* position: absolute; */
  /* border-bottom: 100px solid transparent; */
}

.bar_pro:last-of-type{
  margin-right: 0px;
}
.small {
  /* margin-right: 50px; */
  /* max-width: fit-content; */
}
/* End circular progress bar  */
body {
  background-color: #ebe4d9;
}

.chartjs {
  width: 90vh;
  border: 1px solid black;
  border-radius: 8px;
}

.curr_date{
  height: max-content !important;
  width: max-content !important;
  margin-left: 10px;
  margin-top: 42px;
  font-size: 15px !important;
  padding: 5px;
  background-color: forestgreen !important;
}

.cus_date{
  height: max-content !important;
  width: max-content !important;
  padding: 8px !important;
  font-size: 15px !important;
  background-color: #00308F;
  color: #deffff;
  border-radius: 5px;
  border: none;
}

.tab_data {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  max-width: max-content;
  position: absolute;
  margin-top: 10px;
  border-radius: 12px;
}

th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  font-size: 20px;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child  {
  border-top-right-radius: 10px;
}

.td_add, td{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  font-size: 20px;
}

.td_add:first-child, td:first-child {
  border-bottom-left-radius: 10px;
}

.td_add:last-child, td:last-child {
  border-bottom-right-radius: 10px;
}

.ch_date{
  padding: 10px;
  border: 1px solid black;
  width: max-content;
  border-radius: 8px;
}

input {
  width: max-content;
  height: max-content;
  margin: 4px 0;
  padding-left: 25px;
  font-size: 20px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  background-color: #ecf0f3;
  transition: 0.25s ease;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
input:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}

.prog_container>a{
  font-size: xx-large;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}