@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap');
body {
	background: #ebe4d9;
	font-family: 'Montserrat Alternates', sans-serif;
}

::-webkit-scrollbar{
	border-radius: 0px;
	width:10px;
	background-color:rgb(8, 186, 221);
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #00308F; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #294d94; 
}



#homeJumbo {
	position: relative;
	min-height: 150px;
	background: #2c3e50cc;
	background-image: url('./img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/* border-bottom: 2px solid #2c3e50cc; */
	box-shadow: 0px 5px 4px 4px #2c3e50cc;
}
#homeJumbo > div.overlay {
	position: absolute;
	height: 153px;
	width: 100%;
	background: #2c3e50cc;
}
#homeJumbo h1 {
	font-size: 30px;
	color: white;
	font-family: 'Oswald';
	text-align: center;
	/* padding-top: 10px; */
	font-weight: bolder;
}
#homeJumbo h1 > a {
	color: white;
	text-decoration: none;
}

.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.f25 {
	font-size: 25px;
}

li{
	max-width: max-content;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
	color: white;
	border-bottom: 3px solid #2fa4e7;
	/* font-weight: bolder; */
	background: #00000066;
}
.nav-justified>li>a {
	color: white;
	/* font-weight: bolder; */
	width: max-content;
}
.nav>li>a:hover, .nav>li>a:focus {
	background: #00000066;
}
.nav-pills>li+li {
	padding-left: 10px;
}
.text-bold {
	font-weight: bolder !important;
}
.lean-h {
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: bolder;
}
.text-black {
	color: black !important;
}
.text-white {
	color: white !important;
}
footer {
	margin-top: 20px;
	color: black;
	margin-bottom: 20px;
}
.bmi{
	max-width: max-content;
	max-height: max-content;
	position: absolute;
	padding: 15px;
	background-color: #f6f6f6 !important;
	border-radius: 4px;
	border: none;
	margin-top: 170px;
	z-index: 100;
}

.bmi input{
	border-radius: 5px;
}
.bmi button{
	background-color: #00308F;
	border: 1px solid black;
	border-radius: 5px;
	color:white;
}

a[title="Add Food Item"]{
	max-width: max-content;
}